
<div class="row">
    <div class="col-xs-12 col-12">
      <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)" [maxSize]="5"></pagination>
    </div>
  </div>

<div class="row" *ngFor="let i of items">
    <div class="col-3">
        <img class="img-fluid" src="/assets/good/{{ i.image.image  }}" />
    </div>
    <div class="col-9">
       <strong>{{ i.name  }}</strong>
       <p>Категория: {{ i.subcategory.name  }}</p>
       <p>
         {{ i.desc | shorttext:[50]  }}
       </p>
    </div>
</div>
