<!--The content below is only a placeholder and can be replaced.-->
<div class="container">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Магазин штор</a>
      <button class="navbar-toggler collapsed" type="button" (click)="isCollapsed = !isCollapsed" aria-expanded="false">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" [collapse]="isCollapsed">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="['good']" >Главная</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="['search']">Поиск</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="['basket']"tabindex="-1" aria-disabled="true">Корзина</a>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="введите искомое слово" aria-label="">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
            </form>
          </div>

  </nav>

<router-outlet></router-outlet>


</div>
